<label>Server Name</label>

<input
type="text"
autocomplete="off"
class="form-control"
[(ngModel)]="userName">

<button
class="btn btn-primary"
(click)= "onUpdateUsername()">Reset Username</button>
<p>{{userNameStatus}}</p>

<input
type="text"
class="form-control"
[(ngModel)]="serverName">

<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
    <p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>


<!-- <p>{{serverName}}</p> -->

<!-- <input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<!-- <p [innerText]="allowNewServer"></p> -->
